@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rh2q9h');
  src:  url('../fonts/icomoon.eot?rh2q9h#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rh2q9h') format('truetype'),
    url('../fonts/icomoon.woff?rh2q9h') format('woff'),
    url('../fonts/icomoon.svg?rh2q9h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
