// stackoverflow-light 样式
.stackoverflow-light {
  pre {
    background: #F6F6F6;
    .line-box {
      background: #F6F6F6;
      div {
        color: #777777;
        border-right: 1px solid #777777;
      }
    }
  }

  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
  }

  code.hljs {
    padding: 3px 5px
  }

  .hljs {
    color: #2f3337;
    background: #f6f6f6
  }

  .hljs-subst {
    color: #2f3337
  }

  .hljs-comment {
    color: #656e77
  }

  .hljs-attr, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-section, .hljs-selector-tag {
    color: #015692
  }

  .hljs-attribute {
    color: #803378
  }

  .hljs-name, .hljs-number, .hljs-quote, .hljs-selector-id, .hljs-template-tag, .hljs-type {
    color: #b75501
  }

  .hljs-selector-class {
    color: #015692
  }

  .hljs-link, .hljs-regexp, .hljs-selector-attr, .hljs-string, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color: #54790d
  }

  .hljs-meta, .hljs-selector-pseudo {
    color: #015692
  }

  .hljs-built_in, .hljs-literal, .hljs-title {
    color: #b75501
  }

  .hljs-bullet, .hljs-code {
    color: #535a60
  }

  .hljs-meta .hljs-string {
    color: #54790d
  }

  .hljs-deletion {
    color: #c02d2e
  }

  .hljs-addition {
    color: #2f6f44
  }

  .hljs-emphasis {
    font-style: italic
  }

  .hljs-strong {
    font-weight: 700
  }
}

// vs2015样式
.vs2015 {
  pre {
    background: #1E1E1E;
    .line-box {
      background: #1E1E1E;
      div {
        color: #9B9B9B;
        border-right: 1px solid #9B9B9B;
      }
    }
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
  }

  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #569CD6;
  }
  .hljs-link {
    color: #569CD6;
    text-decoration: underline;
  }

  .hljs-built_in,
  .hljs-type {
    color: #4EC9B0;
  }

  .hljs-number,
  .hljs-class {
    color: #B8D7A3;
  }

  .hljs-string,
  .hljs-meta-string {
    color: #D69D85;
  }

  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334;
  }

  .hljs-subst,
  .hljs-function,
  .hljs-title,
  .hljs-params,
  .hljs-formula {
    color: #DCDCDC;
  }

  .hljs-comment,
  .hljs-quote {
    color: #57A64A;
    font-style: italic;
  }

  .hljs-doctag {
    color: #608B4E;
  }

  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B;
  }

  .hljs-variable,
  .hljs-template-variable {
    color: #BD63C5;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #9CDCFE;
  }

  .hljs-section {
    color: gold;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  /*.hljs-code {
    font-family:'Monospace';
  }*/

  .hljs-bullet,
  .hljs-selector-tag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #D7BA7D;
  }

  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }
}