@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?967s2g');
  src:  url('../fonts/icomoon.eot?967s2g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?967s2g') format('truetype'),
    url('../fonts/icomoon.woff?967s2g') format('woff'),
    url('../fonts/icomoon.svg?967s2g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qzone-logo:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}
.icon-thumbs-up:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-moon:before {
  content: "\e905";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
