/*选项目录*/
#options-list {
  position: fixed;
  right: 0;
  top: 150px;
  background: #F6F6F3;
  padding: 16px;
  width: 120px;
}
#options-list h3 {
  margin: 0;
}
#options-list ul {
  padding: 0;
  margin-left: 20px;
}
#options-list ul a {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  #options-list {
    display: none;
  }
}

/*主题配色预览图*/
#preview-img {
  width: 200px;
  height: 150px;
  background-color: #E4E4E4;
}
/*配色预览图的导航栏*/
#preview-img .header {
  height: 20px;
}
/*配色预览图的内容区域*/
#preview-img .main {
  display: flex;
  justify-content: space-around;
  height: 130px;
  padding: 6px;
  box-sizing: border-box;
}
/*配色预览图的文章区域*/
#preview-img .post {
  background: #FFFFFF;
  width: 60%;
  padding: 4px;
  box-sizing: border-box;
}
/*配色预览图的侧边栏区域*/
#preview-img .sidebar {
  background: #FFFFFF;
  width: 25%;
  padding: 4px;
  box-sizing: border-box;
}
/*配色预览图的普通文字*/
#preview-img .text {
  background: #B9BBBC;
  height: 14px;
  margin-bottom: 4px;
  border-radius: 7px;
}
/*配色预览图的链接*/
#preview-img .link {
  font-size: 12px;
  height: 14px;
  margin-bottom: 4px;
  border-radius: 7px;
}
/*配色预览图的文章区域的链接*/
#preview-img .post .link {
  width: 60%;
}


/*下面是配色预览图的配色模式*/
/*配色1*/
#preview-img[class="light-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="light-dark-color"] .link {
  background: #6c757d;;
}
/*配色2*/
#preview-img[class="light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="light-color"] .link {
  background: #6c757d;;
}
/*配色3*/
#preview-img[class="primary-color"] .header {
  background: #007bff;
}
#preview-img[class="primary-color"] .link {
  background: #007bff;;
}
/*配色4*/
#preview-img[class="info-color"] .header {
  background: #17a2b8;
}
#preview-img[class="info-color"] .link {
  background: #17a2b8;;
}
/*配色5*/
#preview-img[class="success-color"] .header {
  background: #28a745;
}
#preview-img[class="success-color"] .link {
  background: #28a745;;
}
/*配色6*/
#preview-img[class="danger-color"] .header {
  background: #dc3545;
}
#preview-img[class="danger-color"] .link {
  background: #dc3545;;
}
/*配色7*/
#preview-img[class="warning-color"] .header {
  background: #ffc107;
}
#preview-img[class="warning-color"] .link {
  background: #ffc107;;
}
/*配色8（深色模式）*/
#preview-img[class="dark-color"] {
  background: #121212 !important;
}
#preview-img[class="dark-color"] .post, #preview-img[class="dark-color"] .sidebar {
  background: #1E1E1E;
}
#preview-img[class="dark-color"] .header {
  background: #1F1F1F;
}
#preview-img[class="dark-color"] .link {
  background: rgba(255, 255, 255, 0.87);;
}
#preview-img[class="dark-color"] .text {
  background: rgba(255, 255, 255, 0.6);
}
/*配色9*/
#preview-img[class="primary-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="primary-dark-color"] .link {
  background: #007bff;
}
/*配色10*/
#preview-img[class="primary-light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="primary-light-color"] .link {
  background: #007bff;
}
/*配色11*/
#preview-img[class="info-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="info-dark-color"] .link {
  background: #17a2b8;
}
/*配色12*/
#preview-img[class="info-light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="info-light-color"] .link {
  background: #17a2b8;
}
/*配色13*/
#preview-img[class="success-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="success-dark-color"] .link {
  background: #28a745;
}
/*配色14*/
#preview-img[class="success-light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="success-light-color"] .link {
  background: #28a745;
}
/*配色15*/
#preview-img[class="danger-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="danger-dark-color"] .link {
  background: #dc3545;
}
/*配色16*/
#preview-img[class="danger-light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="danger-light-color"] .link {
  background: #dc3545;
}
/*配色17*/
#preview-img[class="warning-dark-color"] .header {
  background: #343a40;
}
#preview-img[class="warning-dark-color"] .link {
  background: #ffc107;
}
/*配色18*/
#preview-img[class="warning-light-color"] .header {
  background: #FFFFFF;
}
#preview-img[class="warning-light-color"] .link {
  background: #ffc107;
}


/*禁止页面滚动*/
.no-scroll {
  overflow: hidden;
}

/*友情链接编辑器*/
#link-editor-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
#link-editor-box #link-editor {
  width: 900px;
  height: 500px;
  background: #F6F6F3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
/*小屏幕设备的编辑器*/
@media screen and (max-width: 899px)  {
  #link-editor-box #link-editor {
    width: 100%;
    height: 100%;
  }
}

#link-editor-box #link-editor-title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  margin: 0;
}
#link-editor-box #link-list {
  height: 414px;
  width: 100%;
  overflow-y: auto;
}
/*编辑器的表格*/
#link-editor-box table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  word-break: break-word;
}
#link-editor-box table th {
  background-color: #447B99;
  color: white;
  text-align: left;
  padding: 12px;
}
#link-editor-box table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  min-width: 60px;
  word-wrap: break-word;
}
#link-editor-box table td input {
  width: 100%;
}
#link-editor-box table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
#link-editor-box table tr:nth-child(even) {
  background-color: #ffffff;
}
#link-editor-box table tr:hover {
  background-color: #ddd;
}
/*编辑器的底部按钮区域*/
#link-editor-box .dialog-actions {
  height: 50px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
#link-editor-box .dialog-actions .close-btn {
  margin-right: 8px;
}
