$shadow: 0 1px 3px rgba(26, 26, 26, 0.1); //  区块阴影
// 区块通用样式
.mwordstar-block {
  box-shadow: $shadow;
  border-radius: 4px;
  border: 1px solid #dedede !important;
  background-color: #FFFFFF;
}

// 主题直角风格
body[data-rounded="rightAngle"] {
  // 区块
  .mwordstar-block {
    border-radius: 0;
  }
  // 顶部导航区的搜索框和按钮
  header .navbar .search-form {
    input,button {
      border-radius: 0;
    }
  }
  // 翻页导航区
  .pagination-nav li > a {
    border-radius: 0 !important;
  }
  // 侧边栏标签云
  .tag-cloud .tag-link {
    border-radius: 0;
  }
  // 侧边栏的搜索组件
  .sidebar .search {
    input, button {
      border-radius: 0;
    }
  }
  // 文章页的分享和点赞按钮
  .post-page .agree-and-share button {
    border-radius: 0;
  }
  // 评论区
  #comments {
    // 评论表单
    #comment-form {
      input, textarea, button {
        border-radius: 0;
      }
    }
    // 表情面板
    #emoji-panel {
      border-radius: 0 !important;
    }
    // 评论列表的回复链接
    .comment-reply a {
      border-radius: 0 !important;
    }
  }
  // 404页
  .container-404 {
    .search-box {
      input, button {
        border-radius: 0;
      }
    }
    .to-home-link {
      border-radius: 0;
    }
  }
}

// 禁止滚动
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

// 通用的头像样式
.avatar {
  background: #E0E0E0;
}

// 代码拷贝按钮
.copy-code-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
}

// 面包屑导航
.breadcrumb {
  background: none;
}

// 文章目录
#directory-box {
  background: #F8F9FA;
  display: inline-block;
  ul {
    list-style: none;
    .directory-num {
      color: #444444;
    }
  }
  > ul {
    padding-left: 0;
    ul {
      padding-left: 32px;
    }
  }
}

// 图片灯箱
#max-img {
  .mask-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1030;
    display: none;
  }
  img {
    position: absolute;
    cursor: move;
    display: none;
    z-index: 1031;
  }
  #img-control {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    z-index: 1033;
    display: none;
    button {
      background-color: #212529;
      color: rgba(255, 255, 255, 0.87);
    }
  }
  //  图片描述
  #img-info {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    text-shadow: 0 1px #333333, 1px 0 #333333, -1px 0 #333333, 0 -1px #333333;
    z-index: 1203;
    display: none;
  }
}

// 评论区引用头像
.pingback {
  background: #488CB8;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 返回顶部的按钮
.to-top {
  width: 40px;
  height: 40px;
  background: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #d3d3d3;
  opacity: 0.7;
}